.task__box {
    position: relative;
    width: 450px;
    height: 100%;
    padding: 10px 20px;
    background: #68B0AB;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    transition: .5s all ease-in-out;
    overflow-y: scroll;
    scrollbar-width: none;
}

.task__box__open-btn {
    position: absolute;
    top: -18px;
    left: 47%;
    width: 30px;
    height: 30px;
    background-size: contain;
    border: none;
    background-image: url('../../assets/img/up_arrow.gif');
    mix-blend-mode: color-burn;
}

.task__box--visible {
    user-select: none;
}
