.header {
    width: 250px;
    height: 400px;
    padding: 35px 20px 0;
    border-radius: 24px 24px 0 0;
    background-image: url('https://i.pinimg.com/736x/f5/43/a5/f543a51b9b456147ad8768384f3b57f0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.header__navigation__btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background: none;
    background-size: contain;
    opacity: .7;
    transition: .3s ease;

    &:hover {
        opacity: 1;
        transition: .3s ease;
    }
}

.btn-weather {
    background-image: url('../../assets/img/weather_btn_bg.svg');
}

.btn-admin-panel {
    background-image: url('../../assets/img/admin_pnl_bg.svg');
}

.header__title {
    text-align: center;
}

.header__description {
    display: block;
    text-align: center;
    font-size: 10px;
}